<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">  
      <h1>Stock market</h1>
      <div class="d-flex">
        <button class="btn btn-lg btn-success" (click)="open(mymodal)" (click)="clickadd()">add stock</button>
      </div>
  </div>
  </nav>

   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Stock details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup] = "formValue">
      <div class="form-group">
        <label for="exampleInputEmail1">stock_name</label>
        <input type="text"  formControlName="stock_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter stock name">
      </div>
      <div class="form-group">
        <label for="status">status</label>
        <input type="text" formControlName="status"  class="form-control" id="status" placeholder="status">
      </div>
      <div class="form-group">
        <label for="quantity">quantity</label>
        <input  type="text" formControlName="quantity" class="form-control" id="quantity" placeholder="quantity">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">amount</label>
        <input  type="text" formControlName="amount"  class="form-control" id="exampleInputPassword1" placeholder="amount">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">date</label>
        <input  type="text"  formControlName="date" class="form-control" id="exampleInputPassword1" placeholder="date">
      </div>
      
    </form>
  </div>
  <div class="modal-footer">
    <button type ="button" class='btn-danger' id="cancel" >cancel</button>
    <button type="button"  *ngIf="showadd" class="btn btn-success" (click)="poststockdetails()">add</button>
    <button type="button" *ngIf="showupdate" class="btn btn-success" (click)="updatestockdetails()">update</button>
  </div>
</ng-template>
<table class="table mt-3">
  <thead>
      <tr>
          <th scope="col">id</th>
          <th scope="col">stock</th>
          <th scope="col">status</th>
          <th scope="col">quantity</th>
          <th scope="col">amount</th>
          <th scope="col">date</th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let row of stockdata">
          <td>{{row.id}}</td>
          <td>{{row.stock_name}}</td>
          <td>{{row.status}}</td>
          <td>{{row.quantity}}</td>
          <td>{{row.amount}}</td>
          <td>{{row.date}}</td>
          <td>
              <button (click)="onEdit(row)" class="btn btn-info" (click)="open(mymodal)" >edit</button>
              <button class="btn btn-danger mx-3" (click) = "deletestocks(row)">delete</button>
          </td>

      </tr>
  </tbody>
</table>
  


   <router-outlet></router-outlet>

<app-dashboard></app-dashboard>